[user]
	name = Yuta Fujiyama
	email = yuta.technology@gmail.com
[core]
	ui = auto
	quotepath = false
	editor = vim
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
[push]
        autoSetupRemote = true
        default = current
